.banner-support{
    height: 200px;
    background-image: url(../../../assets/support.png);
    background-position: center;
    background-size: cover;
}
.support--position--child-content{
    text-align: left;
    min-width: '80%';
}