.wrapper-contact{
margin: auto 12%;

}
/* .wrapper-contact{
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 4em;
    margin-bottom: 4em;
    min-height: 70vh;
} */
.header--wrapper-contact{
    margin: 2em 0;
    font-weight: 700;
    font-size: 24;
}
.header--title--wrapper{
    font-weight: 700;
    font-size: 18 !important;
}

.rightSide{
    width: 70%;
    padding: 4em, 1em;
}
.leftSide{
    width: 70%;
    padding: 4em, 1em;
}
.color-primary{
   background-color:  orange !important; 
   border: none !important;
   color: black !important;
   align-content: left !important;
} 