.blog-wrapper{
    min-height: 90vh;
}
.blog{
    margin: 10px auto;
    width: 80%;
    border-bottom: 0.5px solid orange;
    padding: 20px;
}
.featured-image{
    height: 200px;
    background-image: url(../../../assets/contact.png);
    background-position: center;
    background-size: cover;
}
.featured-image:hover{
    opacity: 0.5;
    transform: scale(1.1);
}
.link{
    height: 100;
    width: 100;
    color: 'orange' !important;
    background-color: 'orange';
    padding: 20px;
}