.blog{
    margin: 10px auto;
    width: 80%;
    border-bottom: 0.5px solid orange;
    padding: 20px;
}
.featured-image{
    height: 200px;
    background-image: url(../../../assets/contact.png);
    background-position: center;
    background-size: cover;
}