.bg_footer{
    background-color: black;
    color: white;
}

li{
    list-style: none;
    margin: 10px 0px;
}

.bgg_footer{
    background-color: #2F2E41;
    color: white;
}

a{
    color: white !important;
}